# Compiled Object files
*.o

# Precompiled Headers
*.gch

# Executables
*.out

# Temporary Makefile 
*.d

# Mac File System
*.DS_Store

# Ctags & Cscope
*tags
cscope.out

# Vim Temporary
*.swp
.*.swp

# Debug Info
*.dSYM*
*.plist

# Backup file
*.bak

# Temp project files
_*
